menu "Parrot drivers"
source "drivers/parrot/serial/Kconfig"
source "drivers/parrot/block/Kconfig"
source "drivers/parrot/nand/Kconfig"
source "drivers/parrot/i2c/Kconfig"
source "drivers/parrot/video/Kconfig"
source "drivers/parrot/media/Kconfig"
source "drivers/parrot/uio/Kconfig"
source "drivers/parrot/gpu/Kconfig"
source "drivers/parrot/dma/Kconfig"
source "drivers/parrot/net/Kconfig"
source "drivers/parrot/mmc/Kconfig"
source "drivers/parrot/regulator/Kconfig"
source "drivers/parrot/mfd/Kconfig"
source "drivers/parrot/rtc/Kconfig"
source "drivers/parrot/gpio/Kconfig"
source "drivers/parrot/pwm/Kconfig"
source "drivers/parrot/spi/Kconfig"
source "drivers/parrot/sound/p7_aai/Kconfig"
source "drivers/parrot/pinctrl/Kconfig"
source "drivers/parrot/usb/serial/blackberry/Kconfig"
source "drivers/parrot/input/Kconfig"
source "drivers/parrot/input/touchscreen/Kconfig"
source "drivers/parrot/gator/Kconfig"
source "drivers/parrot/iio/Kconfig"
source "drivers/parrot/crypto/Kconfig"
source "drivers/parrot/power/Kconfig"
source "drivers/parrot/lttng/Kconfig"
source "drivers/parrot/cpufreq/Kconfig"
endmenu
