Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
config/
*.pc
libtool
m4/
src/.deps
src/.libs
src/Makefile
src/Makefile.in
src/*.la
src/*.lo
src/*.o
src/media-ctl
stamp-h1

patches/*
