#
# Pressure drivers
#
# When adding new entries keep the list in alphabetical order

menu "Pressure sensors"

config PARROT_IIO_MS5607
	tristate "Measurement Specialties MS5607-02BA03 pressure sensor driver"
	depends on I2C && SYSFS
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	help
	  Say yes here to build support for the Measurement Specialties MS5607
	  pressure sensor connected via I2C.

          To compile this driver as a module, choose M here: the module
          will be called ms5607.

config PARROT_IIO_MS5607_TIMESTAMPS
	bool "MS5607: allow display of timestamps"
	depends on PARROT_IIO_MS5607
	default n

config PARROT_MS5607_NOTRIGGER
	bool "MS5607: synchronous i2c acces with mykonos3 iio device"
	depends on PARROT_IIO_MS5607
	select PARROT_IIO_MYKONOS3
	default n

endmenu
